*{
  margin: 0;
  padding: 0;
}
body{
   background-size: cover;
}
.taskbar{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f3f3f3;
}
.right{
    position: absolute;
    right: 0;
    margin: 3px 0;
    height: 85%;
}