*{
  margin: 0;
  padding: 0;
}
body{
   background-size: cover;
   height: 100vh;
   overflow: hidden;
}
.startMenu{
    position: absolute;
    bottom: -650px;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in;
}
.startMenu img{
    border-radius: 8px;
}
.taskbar{
    position: absolute;
    bottom: 0;
    display: flex;
    z-index: 110;
    justify-content: center;
    width: 100%;
    background-color: #f3f3f3;
}
.right{
    position: absolute;
    right: 0;
    margin: 3px 0;
    height: 85%;
}


.desk-icons {
    /* margin-top: 9px;
    width: 78px;
    height: 50px;
} */
margin-left: 10px;
}

.desk-icons span{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 700;
}